.single {
  padding: 2px 16 px;
  background: rgb(68, 62, 62);
  display: block;
  margin: 20px 10 px;
  border-left: 8px solid black;
  text-decoration-color: burlywood;
}
.single:hover {
  border-left: 8px solid blue;
}
.title {
  color: #0070f3;
  text-decoration: none;
}
.title1 {
  color: #515253;
  text-decoration: none;
}
.text {
  color: #ffffff;
  text-decoration: none;
}
.button {
  margin-left: 2px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
